
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
.text-primary{
    color:#FD6E0A;
}

/* we will use dark 2 where required */
.dark-2{
color: #474747;
}

/* header */
.header{
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left ,bottom right;
}


/* nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
   
   
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}

nav ul li{
    list-style: none;
    margin-right: 50px;
}

nav li a{
    text-decoration: none;
    font-size: 20px;
    
}

nav ul{
    display: flex;
  align-items: center;

}

/* shared styles */
.secondary-bg{
    background-color: #FFF8F3;
}

.btn-primary{
    background-color: #FD6E0A;
    border: none;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 15px 35px;
    border-radius: 5px;
}
.text-center{
    text-align: center;
}


/* banner styles */
.banner-greeting{
    font-size: 45px;
    font-weight: 600px;

}

.banner-title{
    font-size: 85px;
    font-weight: bold;
}

.banner-profile-picture{
    width: 585px;
}

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}
.banner-content{
    max-width: 585px;
}

.section-title{
    font-weight: bold;
    font-size: 35px;
    color: #181818;

}
.section-description{
    font-size: 18px;
    color: #757575;
}
.about{
    max-height: 550px;
    max-width:1140px ;
    padding: 130px 150px;
    text-align: center;
   
   
}


/*about styles  */
.about{
    border-radius: 10px;
}
/*main styles  */
main{
    max-width: 1140px;
    margin: 0 auto;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-description{
    font-size: 600px;
}

/* styling 3rd section content */
.skills-container{
    display: flex;
     gap:24px
}
.skill{
    background-color: #FFFFFF;
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}
.skill-description{
    padding: 30px;
}